.parent {
    -fx-background-color: #F4EDE5;
}
.main {
    -fx-background-color: #F4EDE5 ;
}
.sidebar{
    -fx-background-color: #F7F8F9;

}

.pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 0 0  0 0  ;
    -fx-border-radius: 30 30  30 30   ;
}